/*Npm*/
@import '~react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~react-select/dist/react-select.css';
@import '~react-virtualized/styles.css';

/*Custom*/
@import './bootstrap/bootstrap.css';
@import './loader.css';
@import './footer.css';
@import './toastr.css';
@import './sidebar.css';
@import './react-contextmenu.css';
@import './react-select.css';

html
{
  position: relative;
  min-height: 100%;  
  background:#fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#fff;
  font-size:14px;
  font-weight:400;
  color:#333;
  margin: 0 0 45px;
  overflow-y: scroll; 
}

.col-action
{
  top: 26px;
}

@media (min-width: 767.99px) {
  .col-action
  {
    padding-left:7.5px;
  }
  
  .col-menu
  {
    padding-right:0px!important;
  }

  .row > .col-filter:not(:first-child)
  {
    padding-left:7.5px;
  }

  .row > .col-filter
  {
    padding-right:7.5px;
  }
}

@media (max-width: 767.98px) {
  .col-action
  {
    top:0px;
    padding-bottom:15px;
  }
}

.logo-fill {
  fill: #d40e14;
}

.logo-container
{
  text-align:center;
}

.logo-container > svg
{
  height: 31px;
  margin-top: 14px;
}

.text-align-right
{
  text-align: right;
}

.inline-block
{
  display:inline-block;
}

.cursor-pointer
{
  cursor:pointer;
}

a{
  color: #3a6d98!important;
}

body.modal-open
{
  overflow-y: hidden; 
}

.App > .container
{
  max-width:100%;
  margin-top:15px!important;
}

b, strong
{
  font-weight:500;
}

.no-padding
{
  padding:0px;
}

.no-padding-top
{
  padding-top:0px;
}

.no-padding-bottom
{
  padding-bottom:0px;
}

.no-padding-right
{
  padding-right:0px;
}

.no-padding-left
{
  padding-left:0px;
}

.hidden-scroll
{
  overflow-y:scroll;
}

.hidden-scroll::-webkit-scrollbar-track
{
	opacity:0;
}

.hidden-scroll::-webkit-scrollbar
{
	opacity:0;
}

.hidden-scroll::-webkit-scrollbar-thumb
{
	opacity:0;
}