/*Npm*/
@import '~react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~react-select/dist/react-select.css';

/*Custom*/
@import './bootstrap/bootstrap.css';
@import './loader.css';
@import './footer.css';
@import './toastr.css';
@import './sidebar.css';
@import './react-contextmenu.css';

html
{
  position: relative;
  min-height: 100%;  
  background:#fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color:#fff;
  font-size:14px;
  font-weight:400;
  color:#333;
  margin: 0 0 45px;
  overflow-y: scroll; 
}

.cursor-pointer
{
  cursor:pointer;
}

a{
  color: #3a6d98!important;
}

body.modal-open
{
  overflow-y: hidden; 
}

.App > .container
{
  max-width:100%;
  margin-top:15px!important;
}

b, strong
{
  font-weight:500;
}

.no-padding
{
  padding:0px;
}

.no-padding-top
{
  padding-top:0px;
}

.no-padding-bottom
{
  padding-bottom:0px;
}

.no-padding-right
{
  padding-right:0px;
}

.no-padding-left
{
  padding-left:0px;
}